main {
  margin: auto;
  width: 100%;
}
.blog-hero {
  position: relative;
  margin: auto;
  text-align: center;
  &::after {
    position: absolute;
    z-index: -2;
    filter: blur(100px);
    inset: -50px 0 auto;
    background-image: linear-gradient(130deg, var(--color-1), var(--color-5));
    height: calc(70vw);
    max-height: calc(70vh - var(--padding) * 2);
    content: "";
  }
}
.blog-heading {
  position: relative;
  margin: var(--padding) auto 0;
  width: max-content;
  max-width: 600px;
  text-align: center;
  &::before {
    position: absolute;
    z-index: -1;
    filter: blur(10vw);
    inset: calc(0vw - var(--padding));
    background: white;
    content: "";
  }
}
.blog-brow {
  display: block;
  font-size: 1rem;
  font-family: var(--font-serif);
}
.blog-title {
  display: block;
  font-size: 4rem;
  font-family: var(--font-cursive);
  text-align: center;
}
.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@mixin date {
  display: block;
  margin: 0 auto;
  color: rgb(var(--gray));
  text-align: center;
}
@mixin blogTitle {
  margin: 0;
  background: -webkit-linear-gradient(130deg, var(--color-5), var(--color-1));
  -webkit-text-fill-color: transparent;
  color: rgb(var(--black));
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  -webkit-background-clip: text;
  margin-bottom: -0.3rem;
  padding-bottom: 0.3em;
  max-width: 600px;
}
.blog-item {
  flex: 1 1 100%;
  &:first-child {
    flex-basis: 100%;
    margin-bottom: 1rem;
    text-align: center;
    .title {
      font-size: 2.369rem;
    }
  }
  &:not(:first-child) {
    max-width: 600px;
  }
  * {
    transition: 0.8s cubic-bezier(0.3, 0, 0.1, 1);
    text-decoration: none;
  }
  a {
    display: block;
    background: initial;
    background-clip: initial;
    -webkit-text-fill-color: initial;
    color: var(--black);
    text-decoration: initial;
    -webkit-background-clip: initial;
    &:focus,
    &:hover {
      img {
        transform: scale(1.08);
      }
    }
  }
  // @media (width > 767px) {
  //   flex-basis: calc(50% - var(--gap) / 2);
  // }
  @media (width <= 767px) {
    text-align: center;
  }
  h4.title {
    @include blogTitle;
    position: relative;
    &::before {
      display: block;
      position: absolute;
      z-index: -1;
      filter: blur(3rem);
      inset: 0;
      background: white;
      content: "";
    }
  }
  .date {
    @include date;
    margin: 0 auto 1rem;
    text-align: center;
  }
  .summary {
    margin: 0 auto var(--padding);
    max-width: 600px;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: var(--gap);
  a {
    margin: 0 0.5em;
  }
}
@mixin imgBox {
  position: relative;
  margin: auto;
  padding: var(--padding);
  aspect-ratio: 4 / 3;
  max-height: 70vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  &::before,
  &::after {
    position: absolute;
    z-index: -1;
    filter: blur(6vw);
    inset: calc(0vw - var(--padding) / 2);
    background: image-set(attr(data-src));
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
  }
  &::after {
    opacity: 0.5;
    mix-blend-mode: plus-lighter;
    background: linear-gradient(130deg, var(--color-1), var(--color-5));
  }
}
.hero-image {
  @include imgBox;
}
.blog-img {
  @include imgBox;
  // imgBox overrides
  margin-bottom: 1rem;
  padding: 0;
  max-height: calc(70vh - (var(--padding) * 2));
  &::before,
  &::after {
    inset: calc(0vw - var(--padding) / 2);
  }
}
.blog-content {
  margin: 0 auto var(--padding);
  padding: 1em;
  width: 720px;
  max-width: calc(100% - 2em);
  color: rgb(var(--gray-dark));
  .title {
    @include blogTitle;
    margin: 0 auto 1rem;
  }
  .date,
  .last-updated-on {
    @include date;
  }
  .blog-meta {
    margin-bottom: 2rem;
  }
}
